<!DOCTYPE html>
{% extends "piano_app/base.html" %}
    {% block body_block%}
        <h1>About Us</h1>
        <h3>Who we are</h3>
        <p>We are parents, teachers, relatives, and friends who see tremendous opportunities to educate the whole child
        through piano instruction. Today, children, like bees, fly from activity to activity to develop different skills
        and learning strategies. There is often too much to do and not enough time. We support Felicia Feng Zhang’s
        breakthrough method for learning piano notation, music theory, reading skills, math skills, discipline, manners,
        and motor skills in a more effective and efficient way. Moreover, we believe that the well-rounded musician must
        cultivate skills in a community of pianists and experience from the earliest stages of piano instruction the joys
        of sharing in a mutual love of music.</p>
        <h3>Mission</h3>
        <p>Our mission is to cultivate a rich, deep, and lifelong enjoyment and appreciation of music and the arts from
        a young age; to build confidence, strengthen character, and encourage self-expression through music; to develop
        leadership skills as musicians and in academic pursuits; to engage family members, teachers, and friends as
        crucial supports of music education; and to cultivate core values in the hopes of shaping a more harmonious
        society.</p>
        <h3>Join Us</h3>
        <p>The Piano Village Foundation is for all ages, backgrounds, and nationalities.  Understanding how the piano
        enriches all aspects of life, we use this foundation as space for sharing our experiences, talents, and ideas
        about piano education, composition, and performance. We believe that piano is part of daily growth, and we this
        community provides encouragement through our challenges and celebration in our achievements.<br><br>For high school
        students: practice your leadership, share your talent with younger pianists, and meet peers.<br><br>For middle
        school and upper elementary students: learn to observe and work with role models. Let the creativity of others
        inspire your own. Consider how you may begin to mentor younger or newer students. <br><br> For parents: provide
        a model for your child. Demonstrate your passion for music, care for others, and focus. Reflect on what it means
        to be an educator and let the piano be a way to boost your energy and find spiritual growth.<br><br>For educators:
        the piano provides a starting point for a wide range of academic skills. We hope you will share your knowledge
        in and experience of the symbiotic relationship between piando education and academic study. </p>

    {% endblock %}