<!DOCTYPE html>
{% extends "piano_app/base.html" %}
{% block body_block%}
    <h1>Philosophy</h1>
    <ul>
        <li>Piano education should provide an innovative, efficient, and enjoyable way for young children
        to learn to read music notation and to play competently with both hands.</li>
        <li>An emphasis on focusing on the notation, following the instructor, and playing with flow empowers
        young pianists to make faster progress in their development.</li>
        <li>We should contribute to the musical education of others and serve in our communities as volunteers
        and leaders.</li>
        <li>We should employ our talents to reach out to underprivileged, vulnerable, or marginalized groups
        whenever possible.</li>
    </ul>
    <h3>What is Felicia3EFM?</h3>
    <p>3: Parents, Student, and Teacher form a triangular team. Across different learning stages, the three
    key terms represent the principle approach on that stage. For example:<br>E: Energy, Engage, Efficiency<br>
    F: Focus, Follow, Flow<br>M: Mindset, Manner, Motivation</p>
    <h3>Benefits of 3EFM and beyond piano learning</h3>
    <p>These words appears in different learning stages, student also learn these words and reinforce these
    words in connection with other subjects in life, academic and sports. </p>
    <ul>
        <li>Characteristic builder</li>
        <li>Appreciation taste</li>
        <li>EQ</li>
        <li>Sensation</li>
        <li>Intuition</li>
        <li>Mathematical Skills</li>
        <li>Comprehensive Listening</li>
        <li>Confident</li>
        <li>Coordination built from 2 to 6 ways at same time</li>
        <li>Multi tasking ability</li>
        <li>Cognitive Ability</li>
        <li>Speech</li>
        <li>Expression</li>
        <li>Focus</li>
        <li>Follow</li>
        <li>Flow</li>
        <li>Flexibility</li>
        <li>Discipline</li>
        <li>Steady Control Ability</li>
        <li>Challenge Taking</li>
        <li>Imitation</li>
        <li>Thinking Connection</li>
        <li>learning strategies</li>
        <li>Improvisation</li>
        <li>Transpose</li>
        <li>Memorization skills</li>
        <li>common core</li>
    </ul>

{% endblock %}