<!DOCTYPE html>
{% extends "piano_app/base.html" %}
{% block body_block%}
    <h1>Programs</h1>
    <ul>
        <li>Group Classes with Felicia’s 3EFM Method for ages 5-18</li>
        <li>PCLE Classes for ages 3-6 (PCLE: Piano Core Literacy Education)</li>
        <li>Camps</li>
        <li>Targeted Piano Coaching</li>
        <li>Choral Music</li>
        <li>Performance Opportunities</li>
        <li>Community Service</li>
        <li>Evaluations</li>
        <li>Awards and Competitions</li>
        <li>Music Practical Challenging Competition</li>
    </ul>

{% endblock %}